body,
button {
  font-family: "Madimi One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

li {
  list-style-type: none;
}

body {
  background-color: #fff5e0;
}

.container {
  width: 500px;
  margin: 0 auto;

  @media (max-width: 500px) {
    width: 90%;
  }
}

.header {
  height: 50px;
  background-image: linear-gradient(135deg, #feb692 10%, #ea5455 100%);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  letter-spacing: 2px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.header-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-inline: 10px;
}

.move-to-record {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
}

.move-to-record img {
  width: 30px;
  height: 30px;
  margin-top: 4px;
  padding: 0;
  cursor: pointer;
}

.header-group::after {
  content: '';
  width: 30px;
}

.home-wrapper {
  margin: 50px auto;
  width: 360px;

  @media (max-width: 360px) {
    width: 95vw;
  }

}

.timer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #454545;
}

.timer-box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fdd1c7;
  border: 2px solid tomato;
  border-radius: 100%;
  width: 300px;
  height: 300px;
  font-size: 70px;
  letter-spacing: 2px;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.2), 0 15px 12px rgba(0, 0, 0, 0.22);

  @media (max-width: 300px) {
    width: 95vw;
    height: 95vw;
  }
}

.timer-setter {
  margin-top: 50px;
}

.timer-starter {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.timer-starter-title {
  font-size: 25px;
  margin: 0 0 15px 10px;
}

.timer-starter-group {
  display: flex;
  justify-content: center;
  align-items: center;
}

.timer-starter-input {
  font-size: 17px;
  text-align: center;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 10px 15px 10px 15px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.timer-starter-input-seperator {
  font-size: 18px;
  padding: 5px;
}

.timer-button {
  cursor: pointer;
  color: whitesmoke;
  font-size: 22px;
  border: none;
  border-radius: 8px;
  width: 135px;
  padding-block: 8px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.timer-starter-button {
  background-color: tomato;
  margin-left: 15px;
}

.pause {
  background-color: #58a399;
}

.resume {
  background-color: #f6995c;
}

.timer-reset-button {
  background-color: #496989;
  margin-left: 15px;
}

.timer-stopper {
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

.list-box {
  padding: 20px;
  margin: 30px auto;
}

#record-title {
  font-size: 30px;
  margin-top: 45px;
  color: #454545;
  text-align: center;
}

.date-selector {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 3cqmax;
}

.select-list {
  width: 150px;
  height: 30px;
  margin-right: 10px;
}

.select-button {
  height: 30px;
  padding-inline: 10px;
  background-color: #ea5455;
  border: none;
  color: whitesmoke;
  border-radius: 5px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 1px 2px rgba(0, 0, 0, 0.23);
  cursor: pointer;
}

.list-item-box {
  background-color: white;
  padding: 20px 15px;
  border: 0.5px solid #fdd1c7;
  border-radius: 5px;
  margin-bottom: 10px;
  color: #454545;
}

.list-item-box p {
  display: inline;
}

.item-idx-group {
  margin-right: 5px;
}